@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

.App {
    min-height: 100vh;
    /* display: flex; */
    /* color: black; */
    font-family: 'Rubik', sans-serif;
}

.addcartnumber {
    text-align: center;
    font-weight: bold;
}

.bb {
    font-weight: 400;
}

html {
    scroll-behavior: smooth;
}

:root {  
    --purple: rgb(123, 31, 162);
    --violet: rgb(103, 58, 183);
    --pink: rgb(244, 143, 177);
}

@keyframes background-pan{
    from{
        background-position: 0% center;
    }
    to{
        background-position: -200%;
    }
}

.magic {
    animation: background-pan 3s linear infinite;
    background: linear-gradient(
        to right,
        var(--purple),
        var(--violet),
        var(--pink),
        var(--purple)
    );
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}